receivers:
  otlp:
    protocols:
      grpc:
        endpoint: :4317
      http:
        endpoint: :4318

processors: {}

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"

extensions:
  health_check:

service:
  extensions: [health_check]

  pipelines:
    metrics:
      receivers: [otlp]
      processors: []
      exporters: [prometheus]